<h1>Hi. Welcome to my Project </h1>

<br><h2>
	<%= link_to 'View Profile', profile_path %>
</h2></br>

<br><h2>
	<%= link_to 'Company', companies_path %>
</h2></br>


<br><h2>
	
	<%= link_to 'Country', countries_path %>
	
</h2></br>

<br><h2>
	<%= link_to 'City', cities_path %>
</h2></br>

<br><h2>
	<%= link_to 'Nodes', nodes_path %>
</h2></br>

<br><h2>
	<%= link_to 'Region', regions_path %>
</h2></br>

<br><h2>
	<%= link_to 'State', states_path %>
</h2></br>

<br><h2>
	<%= link_to 'User Region', user_regions_path %>
</h2></br>

<br><h2>
	<%= link_to 'Place', places_path %>
</h2></br>





